<a href="https://colab.research.google.com/github/sungchol3/WFKICT_Volunteer/blob/main/Day2_TOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String Type


## Waht is String Type

String type is the set of letters, numbers, and other symbols. <br>
String consist of quotation marks (`""` or `''`).

```
"I'm 20 years old"
'abcd'
"123"
'a'
```
All of these examples are string. (Even though, 123 is number, but it is wrapped around by "". So it is string.) <br>

Of course, you can save string in variables.
See the example code.

In [ ]:
string1 = "My name is Sungcheol Ha."
string2 = "My age is 21."

print(string1)
print(string2)

My name is Sungcheol Ha.
My age is 21.

If you want to make long string, then you can use `"""#blank"""` or `'''#blank'''`. (three quotation mark)

In [ ]:
long_string = """This is very long string.
You can write any sentence here.
Also you can change the line.
"""

print(long_string)

This is very long string.
You can write any sentence here.
Also you can change the line.

If you want to contain single quotation mark(`'`) in your string, then you should use double quotation mark(`""`) as string. <br>
In opposite case is same.

In [ ]:
print("I'm sungcheol Ha. My favorite programming language is Python.")
#print('You can't use single quotation mark in string consisted by ''.')
print('I want to contain double quotation mark " in my sentence.')
#print("But you use double quotation mark " in a same time, it causes error.")

I'm sungcheol Ha. My favorite programming language is Python.
I want to contain double quotation mark " in my sentence.

If you want to use both double and single quotation mark in your string, you can use backslash(`\`) in your string.

In [ ]:
print("Double quotation mark is \"")
print('Single quotation mark is \'')

Double quotation mark is "
Single quotation mark is '


## MultiLine

How to print two or more lines with one line code? <br>
You can insert `\n` where you change the line.

In [ ]:
#Print multiline with multi code
print("This is first line.")
print("This is second line.")

#Print multiline with one code.
print("This is first line.\nThis is second line.")

This is first line.
This is second line.
This is first line.
This is second line.

Like `\n`, some special code which do special word called "Escape Code." <br>
There are many escape codes. Here are some famous escape codes.
<table>
<tr><td>Code</td><td>Word</td></tr>
<tr><td>\n</td><td>Change the line</td></tr>
<tr><td>\t</td><td>Insert tab</td></tr>
<tr><td>\\</td><td>Insert literal %</td></tr>
<tr><td>\`</td><td>Insert ' single quotation mark</td></tr>
<tr><td>\"</td><td>Insert " double quotation mark</td></tr>
</table>

In [ ]:
print("This is first line.\tThis is second line.")
print("This is backslash \\")

This is first line.	This is second line.
This is backslash \

## String Operation

You can use plus(`+`) and multiplication(`*`) operation in string type.

### String Plus
What is the result of add two strings?
When you add two strigns, the results is the concatenation of two strings.<br>
Let's follow the examples.

In [ ]:
string1 = "I'm apple"
string2 = "I'm banana"
string3 = string1 + string2
print(string3)

I'm appleI'm banana

###String multiply
Then how about string multiplication? <br>
(※ String Multiplication should `string × integer` )<br>
The result is the repetition of strings.<br>
Follow the examples.

In [ ]:
print("Python"*3)

PythonPythonPython

In [ ]:
#Application of python string operator
print("="*50)
print(" "*20+"My program")
print("="*50)

==================================================
                    My program
==================================================

### Length of string
You can get length of string with `len()` function. <br>
For examples, the string is "abcd". Then, length of "abcd" is 4 because it consists of 4 letters.<br>
```len("abcd")=4```[링크 텍스트](https://)

In [ ]:
string1 = "Write any sentence here"
print(len(string1))

23

##Indexing and slicing string
Every string has their own index number.<br>
For example, "abcd" string has index 0~3. It means 0th of "abcd" is "a".<br>
Index number is like below image.<br>
![image.png]()<br>
you can choose a letter or substring in string by index.<br>
※Be careful! Index number is starting with 0.
If length of string is `n`, then index number is from `0` to `n-1`.<br>
Minus index number means the orders from tail. So index `n-1` is equal to `-1`

In [ ]:
s = "I love python"
print(len(s)) #length of s
print(s[0]) #0th of s
print(s[3]) #3rd of s
print(s[len(s)-1]) #last letter of s
print(s[-1]) #last letter of s
print(s[-2]) #2nd letter from tail of s

13
I
o
n
n
o

###Slicing
You can choose substring in string by index.<br>
Let `s="abcdefgh"`. And I want to pick `"bcd"` in `s`.
"b" is `s[1]` and "d" is `s[3]`.<br>
So using `:`, you can choose substring from 1st to 3rd letter like `s[1:4]`.<br>
<b>`s[1:4]` means 1≤index<4</b><br>
`::` means choosing arithmetic progression index letter.
`s[::2]=s[0]+s[2]+s[4]+...`<br>
Also, it can use minus number. `s[::-1]=s[-1]+s[-2]+...=(reverse of s)`

In [ ]:
s = "abcdefgh"
print(s[1:4]) #from index 1 to 4
print(s[2:]) #from index 2 to tail
print(s[:5]) #from head to index 5
print(s[:-1]) #from head to (tail-1)
print(s[:]) #all string
print(s[::2]) #index 0, 2, 4, ... arithmetic progression index
print(s[::-1]) #Reverse of s

bcd
cdefgh
abcde
abcdefg
abcdefgh
aceg
hgfedcba

How to replace letters or words in string.<br>
If `s="abcdefg"`, I want to replace 'b' to '2'.<br>
But, you cannot replace words in string. Because string is <b>immutable</b> data type.<br>
However, you can replace it using some trick, *slicing!*

In [ ]:
#Replace string directly
s = "abcdefg"
s[1] = '2'
print(s)
#It will get some error

TypeError: ignored

In [ ]:
#Replace string using some trick
s = "abcdefg"
s2 = s[:1]+'2'+s[2:] #Make new string which is same result as replacing old string
print(s2)

a2cdefg

###Formatting
I want to insert variable data in string. How can I do?<br>
The way to insert some variable data in string calls **"Formatting"**<br>
There are 2 ways of formatting. First using `%`. Second using format function.

In [ ]:
age = int(input('Insert your age: '))
print("My age is %d"%age)
name = input('Insert your name: ')
print("My name is %s, my age is %d"%(name,age)) #If you want to insert 2 more variable in string, then using %()

Insert your age: 21
My age is 21
Insert your name: 하성철
My name is 하성철, my age is 21

If you use first way of formatting using `%`, you should take card of **format code**.<br>
<table>
<tr><td>Format Code</td><td>Explanation</td>
<tr><td>%s</td><td>String</td>
<tr><td>%c</td><td>One Character</td></tr>
<tr><td>%d</td><td>Integer</td></tr>
<tr><td>%f</td><td>Floating-point</td></tr>
<tr><td>%%</td><td>Literal %</td></tr>
</table>
<br>

In [ ]:
#2nd way of formatting; Using format function in string
age = int(input('Insert your age: '))
name = input('Insert your name: ')
print("My name is {0}, and my age is {1}".format(name,age))
print("Today is {week}, my name is {0}, and my age is {1}".format(name,age,week='Tuesday')) #You can use some name in formatting

Insert your age: 21
Insert your name: sungcheol Ha
My name is sungcheol Ha, and my age is 21
Today is Tuesday, my name is sungcheol Ha, and my age is 21

##Function of String

###count
`count()` function is counting number of character in string.

In [ ]:
a = "abcdbca"
print(a.count('b')) # Return the number of 'b' in string a.

2

###find, index
`find()` function and `index()` function return the index of character.
Difference of two function is that `find()` function return -1 and `index()` function make error if if there are no character.

In [ ]:
a = "abcdcba"
print(a.find('d')) # Return the index of 'd' in string a
print(a.index('d'))
print(a.find('b'), a.index('b')) #If there are many same character, then return first one.

3
3
1 1

In [ ]:
print(a.find('z'))

-1

In [ ]:
print(a.index('z'))

ValueError: ignored

###join
`A.join(B)` function return new string wich insert A between B.

In [ ]:
print("?".join("abcd"))
print("<>".join("abcd"))
print("*".join(["a","r","b"]))

a?b?c?d
a<>b<>c<>d
a*r*b

###split
`A.split(B)` function return a list which split A based on B.<br>
If you don't input on B, `A.split()`, then split A based on some blank(space, tab, enter).

In [ ]:
a1 = "I love Python"
a2 = "a;b;c;d"
print(a1.split())
print(a2.split(';'))

['I', 'love', 'Python']
['a', 'b', 'c', 'd']

###Replace
`A.replace(B, C)`is replace all B to C in A.

In [ ]:
a1 = "abcdeabcde"
print(a1.replace('a','1'))

1bcde1bcde

###Upper and Lower
`A.upper()` is to change lower case to upper case. <br>
In opposite, `A.lower()` is to change upper case to lower case.

In [ ]:
upper_string = "ABCD"
lower_string = "abcd"
print(lower_string.upper())
print(upper_string.lower())
both_string = "A a B b C c"
print(both_string.upper())
print(both_string.lower())

ABCD
abcd
A A B B C C
a a b b c c

#Practice of String Type

##Question 1
If you input date data, format "YYYY-MM-DD", then print year, month, day following below format.<br>
"Year : (year)"<br>
"Month : (month)"<br>
"Day : (day)"<br>
Ex)<br>
```
Input:
2021-08-10
Output:
Year : 2021
Month : 08
Day : 10
```

In [ ]:
'''
Write your answer code here
```

##Question 2
Input one string and one character.<br>
Then, change the character into upper case in the string. And print it.<br>
Ex)<br>
```
Input:
abcdeabcde
c
Output:
abCdeabCde
```

In [ ]:
'''
Write your answer code here
'''

#List Type

##What is List Type
List type is the set of some data.<br>
List type is consists with square bracket `[]`.
In list, there can be any data type like integer, float, character, string, boolen type, etc.<br>
↓List examples↓<br>
```
a = [1, 2, 3, 4]
b = ['a', 'b', 'c']
c = [1, 'a', "string", True]
```

In [ ]:
a = [1, 2]
b = ['a', 1, "I love python", True]
c = ['a', 1, [1, 2]]
print(a)
print(b)
print(c)

[1, 2]
['a', 1, 'I love python', True]
['a', 1, [1, 2]]

##Indexing of List
List also has index like string.<br>
List index start from 0 and finish to (length of list - 1).<br>
![image.png]()<br>
List also can get the elements from index.
```
A = [53, "c", "I love python", 3.14, [1,2]]
print(A[0]) #A[0] = 53
print(A[2]) #A[2] = "I love python"
print(A[-1]) #A[-1] = A[4] = [1,2]
print(A[1:3]) #A[1:3] = ["c", "I love python", 3.14]
```
And also, length of list can get from function `len()`.<br>
For example, `len([1,2,3])=3`.

In [ ]:
A = [53, "c", "I love python", 3.14, [1,2]]
print(A[0])
print(A[3])
print(A[-1])
# print(A[-1][1])
print(A[1:3])
print(A[::2])

53
3.14
[1, 2]
['c', 'I love python']
[53, 'I love python', [1, 2]]

And list can change of elements of list.<br>
```
a = [2, 4, 6]
a[2] = 8
a → [2, 4, 8]
```
So, Lis type is called **mutable data type**.
Also, list can delete a element using `del` function.
```
a = [2, 4, 6]
del a[1]
a → [4, 6]
```

In [ ]:
A = [53, "c", "I love python", 3.14, [1,2]]
print("Before change elements:")
print(A)
A[1] = 'b'
print("After change elements:")
print(A)
print("After delete element:")
del A[0]
print(A)

Before change elements:
[53, 'c', 'I love python', 3.14, [1, 2]]
After change elements:
[53, 'b', 'I love python', 3.14, [1, 2]]
After delete element:
['b', 'I love python', 3.14, [1, 2]]

###List operation
List also can operate each other like string type.<br>

###List Plus
List can add each other.
List plus is concatenation of two list.
```
a = [1,2]
b = [3,4]
c = a + b
print(c) #[1,2,3,4]
```

In [ ]:
a = [1, 'a', True]
b = [2, "Love", [1,2]]
c = a + b
print(a+b)
print(c)

[1, 'a', True, 2, 'Love', [1, 2]]
[1, 'a', True, 2, 'Love', [1, 2]]

###List Multiply
List also can multiply. LIst multiply should `(list type) × (integer)`.<br>
```
a = [1, 2, 3]
print(a*2) #[1,2,3,1,2,3]
```

In [ ]:
a = [1,2]
print(a*2)
print(a*3)
print(a*0)

[1, 2, 1, 2]
[1, 2, 1, 2, 1, 2]
[]

##Function of List

###append
`A.append(B)` is function that append element B into list A at tail.
```
a = [1,2]
a.append(3)
print(a) #[1,2,3]
```

In [ ]:
a = [1,2]
a.append(4)
print(a)

[1, 2, 4]

###sort
`A.sort()` is sorting list A.
```
a = [2,3,1]
a.sort()
print(a) #[1,2,3]
```

In [ ]:
a = [100, 9, 51, 1]
a.sort()
print(a)
b = ['c', 'z', 'a']
b.sort()
print(b)
c = ['a', 3, [1,2]]
#c.sort()
#print(c)

[1, 9, 51, 100]
['a', 'c', 'z']

###reverse
`A.reverse()` function is reversing A.
```
a = [1,3,2]
a.reverse()
print(a) #[2,3,1]
```

In [ ]:
a = [1,2,3]
a.reverse()
print(a)

[3, 2, 1]

###index
`A.index(a)` is find index where element a is in list A.<br>
If there are many elements `a`, then return index of first elements `a`.
If there are no element `a`, then make ValueError.

In [ ]:
a = [1, 3, 5, 9, 3]
print(a.index(5))
print(a.index(3))
s = ['b', 'c', 't', 'c']
print(s.index('t'))

2
1
2

In [ ]:
print(a.index(10))

ValueError: ignored

###insert
`A.insert(b,c)` is inserting element `c` at position(index) b in list A.

In [ ]:
a = [1,2,3]
a.insert(0,4)
print(a)
a.insert(2,'a')
print(a)

[4, 1, 2, 3]
[4, 1, 'a', 2, 3]

###remove
`A.remove(a)`is removing element `a` in list A.
If there are many elements `a`, then remove first one.

In [ ]:
a = [1,2,3,1,2,3]
a.remove(1)
print(a)

[2, 3, 1, 2, 3]

###pop
`A.pop(i)` is similar to remove function.<br>
`A.pop(i)` is remove `A[i]` (i is index) and return `A[i]`.<br>
If you don't input at i, `A.pop()`, then they remove and return tail.<br>
`A.pop()` == `A.pop(-1)`

In [ ]:
a=[1,2,3,4]
print(a.pop(0))
print(a)
#remove vs pop
print(a.remove(4))
print(a)

1
[2, 3, 4]
None
[2, 3]

###count
`A.count(a)` is counting how many elements `a` in list A.<br>

In [ ]:
a = [1,2,3,4,3,2,1]
print(a.count(1))
a.remove(1)
print(a.count(1))
print(a)

2
1
[2, 3, 4, 3, 2, 1]

#Practice for List Type

##Question 1
CSV data file compare each data based on comma(,).<br>
Input one line csv data, and change it into list type data.<br>
Ex)<br>
```
Input:
"1,2,3,4,5,6,7"
Output:
[1, 2, 3, 4, 5, 6, 7]
```

In [ ]:
CSV_Data = "3,1,2,4,6,5,7"
result = []
"""
Write your answer code here
"""
print(result) #Result is [3, 1, 2, 4, 6, 5, 7] Compare your result.

##Question 2
There are random list whose elements are all integer.<br>
Print minimun, middle, maximum integer in list.<br>
Ex)<br>
```
Input:
[4, 2, 3, 5, 7, 8, 6, 1, 9]
Output:
Min : 1
Max : 9
Mid : 5
```

In [ ]:
import random
input_list = random.sample(range(100),k=9)
"""
Write your code here
"""